<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argon" version="0.3.3" targetFramework="net48" />
  <package id="DiffEngine" version="11.1.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.3.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.3.0" targetFramework="net48" />
  <package id="EmptyFiles" version="4.1.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.12.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-rc.2.25502.107" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Memory" version="10.0.0-rc.2.25502.107" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Ookii.Dialogs.Wpf" version="5.0.1" targetFramework="net48" />
  <package id="PdfPig" version="0.1.12-alpha-20251015-3592f" targetFramework="net48" />
  <package id="SimpleInfoName" version="2.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.0-rc.2.25502.107" targetFramework="net48" />
  <package id="System.Management" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.Http.Json" version="10.0.0-rc.2.25502.107" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.0-rc.2.25502.107" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.0-rc.2.25502.107" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="UglyToad.PdfPig" version="1.7.0-custom-5" targetFramework="net48" />
  <package id="UglyToad.PdfPig.Core" version="1.7.0-custom-5" targetFramework="net48" />
  <package id="UglyToad.PdfPig.Fonts" version="1.7.0-custom-5" targetFramework="net48" />
  <package id="UglyToad.PdfPig.Tokenization" version="1.7.0-custom-5" targetFramework="net48" />
  <package id="UglyToad.PdfPig.Tokens" version="1.7.0-custom-5" targetFramework="net48" />
  <package id="Verify" version="19.9.2" targetFramework="net48" />
  <package id="Verify.PdfPig" version="2.1.0" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.8.6" targetFramework="net48" />
</packages>